body {
	margin:0 3% 0 3%;
	font-family:geneva;
	font-weight:normal;
	height:100%;
	background-color:#cccccc;
}

div#main {
	min-width:600px;
	max-width:1200px;
	margin:0 auto;
}

div#header {
	width:100%;
	height:4em;
}

div#titles {
	opacity:0;
	width:100%;
	height:75px;
	
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: ease-in-out;
}

div.imgTitle {
	width:40%;
	height:100%;
	text-align:center;
}

div#leftTitle {
	float:left;
}
div#rightTitle {
	float:right;
}

div#content {
	opacity:1;
	width:100%;
	background-color:magenta;
	position:relative;
	margin-top:10px;
	
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: ease-in-out;
	
}

div.wrapper {
	opacity:0;
	position:absolute;
	width:34%;
	margin:-10px 3% 0 3%;
	
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: ease-in-out;
}

img.combatant {
	position:absolute;
	top:10px;
	width:95%;
	margin:0 0 0 0;
	border-top:10px solid #575757;
	border-left:10px solid #575757;
	border-right:10px solid #575757;
	border-bottom:10px solid #575757;
	z-index:999;

	
	border-background: #505050;
	
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	
	-webkit-transition-property: -webkit-transform, opacity;
	-webkit-transition-duration: 0.2s, 0.2s;
	-webkit-transition-timing-function: linear, linear;
	-moz-transition-property: -moz-transform, opacity;
	-moz-transition-duration: 0.2s, 0.2s;
	-moz-transition-timing-function: linear, linear;
}

img.combatant:hover {
}

div.leftWrapper {
	left:0;
}

div.rightWrapper {
	right:0;
}

img#shareButton {
	width:50px;
	position:absolute;
	z-index:1000;
	top:20px;
	right:10px;
}

img#shareButton:hover {
	background-color:black;
}

img.preloaded {
	display:none;
}

div.controlBar {
	position:absolute;
	overflow:visible;
	top:20px;
	right:0;
	width:95%;
	margin:0;
	border-left:10px solid #575757;
	border-right:10px solid #575757;
	//border-top:10px solid #575757;
	background-color:#575757;
	color:white;
	height:0px;
	font-size:0.8em;
	font-weight:normal;
	z-index:9999;
	
	border-background: #505050;
	
	//-webkit-border-radius: 10px 10px 0px 0px;
	//-moz-border-radius: 10px 10px 10px 10px;
	
	-webkit-transition-property: height;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	-moz-transition-property: height;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: linear;
}

div.controlBar span {
	width:100%;
	opacity:0;
	position:absolute;
	margin-top:-9px;	
	text-shadow:0px 2px 2px #000;
	
	-webkit-transition-delay: 0s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.05s;
	-webkit-transition-timing-function: linear;
	-moz-transition-delay: 0s;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.05s;
	-moz-transition-timing-function: linear;
}

div.controlBar span.visible{
	opacity:1;
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
}

div.controlBar:hover {
}

div.controlBar span img {
	margin-top:-3px;
	height:1em;
	//vertical-align:middle;
}

div.controlBar span a {
	color:white;
}

div.controlBar span a:hover {
	//text-decoration:underline;
}

div.leftControls {
	left:0;
	text-align:right;
}

div.rightControls {
	left:0;
	text-align:left;
}

div#controls {
	position:relative;
	top:0;
	left:50%;
	width:18%;
	margin-left:-9%;
	background-color:blue;
}



div.voteButton {
	opacity:0;
	position:absolute;
	top:0;
	width:35%;
	overflow:hidden;

	
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: linear;
	
}

div.voteButton:hover {
	cursor:pointer;
}

div.voteButton img {
	width:200%;
	margin-left:-100%;
}

div.voteButton img:hover{
	margin-left:0%;
}

div#commandCenter {
	position:relative;
	height:auto;
	margin:9% auto 0 auto;
	width:16%;
	background-color:#000000;
	padding:1%;
	text-align:center;
	
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
	background: -moz-linear-gradient(top,  #666,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#575757');
	
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: ease-in-out;

}

div#commandCenter img {
	max-width:400px;
	width:80%;
    display: block;
	margin:0 auto 0 auto;
	
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: linear;
	
	cursor:pointer;
	

}

div#commandCenter img.jiggle{
	-webkit-animation-name: jiggle;
 	-webkit-animation-duration: 0.1s;
 	-webkit-animation-direction: alternate;
 	-webkit-animation-timing-function: ease-in-out;
 	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes jiggle {
 0% {
   -webkit-transform: scale(1.0);
 }
 100% {
	-webkit-transform: scale(1.1);
 }
}

div#commandCenter span{
	font-size:0.75em;
	color:white;
	width:90%;
	bottom:15%;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: linear;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.5s;
	-moz-transition-timing-function: linear;
		
	moz-text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
}

div#commandCenterText {
font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:100;
	font-size:1em;
	position:relative;
	min-height:15%;
	height:auto;
	margin:0% auto;
	width:16%;
	padding:1%;
	text-align:center;
	color:#111;
	letter-spacing:3px;
}

div#commandCenterText span{
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-timing-function: linear;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.25s;
	-moz-transition-timing-function: linear;
}

div#leftVoteButton {
	left:0;
}
div#rightVoteButton {
	right:0;
}

div#zoomTitleBlock {
	color:white;
	overflow:hidden;
	moz-text-shadow: 2px 2px 2px #000;
	-webkit-text-shadow: 2px 2px 2px #000;
	text-shadow: 2px 2px 2px #000;
	
	position:absolute;
	top:-75px;
	left:0;
	width:100%;
	height:75px;
	background-color:#808080;
	text-align:center;
	-webkit-transition-property: top;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
	background: -moz-linear-gradient(top,  #666,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#575757');
}

div#zoomTitleBlock a {
	color:white;
}

div#zoomTitleBlock a:hover {
	text-decoration:underline;
}

div#zoomedImage {
	position:absolute;
	min-width:360px;
	top:75px;
	width:60%;
	left:50%;
	margin-left:-30%;
	display:none;
	height:auto;
	
}

div#zoomedImage img#zoomed {
	position:absolute;
	width:100%;
	border: 9px solid #555;
	border-top:0;
}

img#closeButton {
	cursor:pointer;
	position:absolute;
	width:34px;
	left:0;
	top:0;
	margin:-17px 0 0 -17px; 
	
}

ul#menu {
font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align:center;
	font-size:1em;
	list-style-type:none;
	padding:0;
	margin:0;
	position:absolute;
	right:0;
	top:0;
	font-weight:normal;
		letter-spacing:2px;

}

ul#menu li{
	display:inline;
	margin-right:10px;
	line-height:30px;
}

ul#menu li a, ul#menu li span{
	color:#777;
	cursor: pointer;
}

ul#menu li a:hover, ul#menu li span:hover{
	color:#000;
}

a {
	text-decoration:none;
}

.shareButton {
	cursor: pointer;	
}
#leftShare {
	margin-right: 5px;	
}
#rightShare {
	margin-left: 5px;
}
