html {
		-webkit-user-select:none;
		-moz-user-select:none;
	}

	body {
		margin:0;padding:0;
		font-family:geneva;
		font-weight:bold;
	}


	div#main{
		position:relative;
		max-width:1600px;
		min-width:600px;
		top:50px;
	}
	
	div#top {
		position:relative;
		width:92%;
		margin:0 auto 0 auto;
		height:6em;
		overflow:hidden;
		top:3em;
	}
	
	div#links {
		height:30px;
		width:100px;
		position:absolute;
		top:0;
		right:0;
	}
	
	div#links ul {
		font-size:10px;
		list-style-type:none;
		padding:0;
		margin:0;
	}
	div#links ul li{
		display:inline;
		margin-right:10px;
		line-height:30px;
	}
	
	div#links ul li a{
		color:#ccc;
	}
	div#links ul li a:hover{
		color:#000;
	}
	
	div.title {
		width:40%;
		height:100%;
		margin: 0 2% 0 2%;
		text-align:center;
		display:table-cell;
		vertical-align:middle
	}
	
	div.imgTitles {
		width:25%;
		font-size:2em;
		position:absolute;
		top:5%;
	}
	
	div.leftTitle {
		float:left;
	}
	
	div.rightTitle {
		float:right;
	}
	
	img.combatant {
		position:absolute;
		border-right: 15px solid black;
		border-left: 15px solid black;
		border-top:15px solid black;
		border-bottom:15px solid black;
		display:block;
		border-color:#808080;
		width:30%;
		top:15%;

		-webkit-border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;

		-webkit-transition-property: -webkit-transform, opacity, borderColor;
		-webkit-transition-duration: 0.2s, 0.2s, 0.2s;
		-webkit-transition-timing-function: linear, linear, linear;
		-moz-transition-property: -moz-transform, opacity;
		-moz-transition-duration: 0.2s, 0.2s;
		-moz-transition-timing-function: linear, linear;
	}
	
	img.combatant:hover {
		-webkit-box-shadow:0px 2px 20px #999;
		-moz-box-shadow:0px 2px 20px #999;

	}
	
	img.zoomed {
		border:none;
		-webkit-border-radius:0;
		-moz-border-radius:0;

	}
	
	img.leftCombatant {
		left:7%;
	}
	img.rightCombatant {
		left: 60%;
	}
	
	img.combatant:hover {
		border-color:black;
	}
	
	img.selected {
		//border: 15px solid black;
		//-webkit-box-shadow: 3px 10px 15px #888;
	}
	
	img.notSelected {
		//border-color: #000000;
	}
	
	img.won {
		opacity:0;
		-webkit-transform: translate3d(0, -200px, 0) rotateY(0);
	}
	img.lost {
		opacity:0;
		-webkit-transform: translate3d(0, 200px, 0) rotateY(0);
	}
	
	img.duel {
		opacity:1;
		-webkit-transform: translate3d(0, 0, 0) rotateY(0);
	}
	
	img.preloaded {
		position:absolute;
		display:none;
		left:-9999px;
	}
	
	img#leftLoader, img#rightLoader {
		width: 16px;
		height:16px;
		top:45%;
		margin:auto;
	}
	
	p#upvote {
		position:absolute;
		font-size:4em;
		font-weight:bold;
		color:#6eff7f;
		top:0;
		left:0;
		opacity:0;
		//text-shadow: 10px 10px 5px #ddd;
		//text-shadow: 4px 4px 4px #000;
	}
	
	img#clickAnimation {
		position:absolute;
		top:40%;
		left:0%;
		width:50px;
	}
	
	div.controls {
		position:absolute;
		/*background-image:-webkit-gradient(
  			linear, left top, left bottom, from(rgba(150,150,150,0.7)),
  			to(rgba(50,50,50,0.4))
		);*/
		background-color:#808080;
		height:72px;
		width:83px;
		left:-1200;
		display:none
		//padding:10px;
		border:1px solid rgba(0,0,0,0);
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		overflow:hidden;
		background-image:url('vote.png');
		background-repeat:x-repeat;
		background-position: 77px -7px;
	}
	
	div.controls:hover {
		cursor:pointer;
		//background-color:black;
		background-position: 5px 0; 
	}
	
	div.imgControlHover {
		background-color:black;
	}
	
	div.BottomFader {
		position:absolute;
		bottom:0px;
		height:25px;
		width:100%;
		background:url('tear.png');
		background-repeat:x-repeat;
	}
	
	div#footer {
		position:absolute;
		bottom:0;
		height:10px;
		width:100%;
		background-color:white;
	}
	
	/*.imgControl {
		width:72px;
		height:72px;
		float:left;
		padding:5px;
		color:white;
		text-align:center;
		background-position:0 0;
	}*/
	
	.imgControl span{
		line-height:72px;
	}

	
	div#zoomInPicture {
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		overflow:auto;
		background-color: rgba(0,0,0,0.9);
		display:none;
	}
	
	div#zoomInPicture img {
		position:absolute;
	}
	
	div#zoomInPicture input {
		height:5%;
		position:absolute;
		top:0;
		width:60%;
		left:20%;
	}
	
	div#progressBar {
		position:absolute;
		left:48%;
		top:20%;
		width:2%;
		height:40%;
		border:2px solid black;
		overflow:hidden;
		-webkit-border-radius:20px;
	}
	
	div#progressBar div#bar {
		position:absolute;
		width:100%;
		height:100%;
		margin-top:100%;
		background-color:rgba(100,100,100,1);
	}
	
	div#tabContainer {
		position:absolute;
		top:0;
		margin:-20px auto 0 auto;
		margin-left:11%;
		width:24em;
		height:3em;
	}
	
	div.tab {
		width:10em;
		float:left;
		height:3em;
		text-align:center;
		line-height:4em;
		margin-right:1em;
		border-left:5px solid #cccccc;
		border-right:5px solid #cccccc;
		border-bottom:5px solid #cccccc;
		background-color:#cccccc;
		-webkit-border-radius: 0 0 10px 10px;
		-moz-border-radius: 0 0 10px 10px;
		color:#000000
	}
	
	div.tab:hover {
		cursor:pointer;
		margin-top:20px;
	}	
	div.openTab {
		margin-top:20px;
		border-left:5px solid #000000;
		border-right:5px solid #000000;
		border-bottom:5px solid #000000;
		color:#ffffff;
		background-color:#000000;
	}
	
	div.openTab:hover {
		cursor:default;
	}
	
	div#historyTab {
		position:absolute;
		top:18%;
		height:80%;
		width:80%;
		padding:0 10% 0 10%;
		display:none;
		background-color:white;
		overflow:hidden;
	}
	
	div.historyImg {
		width:150px;
		height:150px;
		float:left;
		margin-right:25px;
		margin-bottom:25px;
		border:5px solid #808080;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		background-image:url('ajax-loader.gif');
		background-repeat:no-repeat;
		background-position:center center;
		overflow:hidden;
}

	div.historyImg img {
		height:100%;
	}
	
	div.historyImg:hover {
		border-color:black;
		cursor:pointer;
	}
	
	div#instructions {
		position:absolute;
		width:15%;
		left:42.125%;
		top:70%;
		border:1px solid #000000;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		text-align:center;
		color:white;
		background-color:#000000;
		font-size:10pt;
		padding:8px 3px 8px 3px;
		display:none;

	}
	
	input.faceVote {
		position:absolute;
		background-color:#808080;
		height:72px;
		width:83px;
		left:-1200px;
		border:1px solid rgba(0,0,0,0);
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		overflow:hidden;
		background-image:url('vote.png');
		background-repeat:x-repeat;
		background-position: 77px -7px;
	}
	
	input.faceVote:hover {
		cursor:pointer;
		background-position: 5px 0; 
	}
	
	

	
	
	
	
	
	
	