{% extends "base_web.html" %}

{% block head %}
	{{ block.super }}
{% endblock %}

{% block body %}
	<span id="login_status"></span>
	<a style="float:right;" href="http://twitter.com/share" class="twitter-share-button" data-url="http://chillbrain.com" data-count="none">
		Tweet
	</a>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	{% block content %}
	{% endblock %}
	<div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script type="text/javascript">
	 	// initialize the library with the API key'
	    FB.init(
	     	{ apiKey: '{{app_id}}', cookie : true, status : true }
	    );

		 // fetch the status on load
	    FB.getLoginStatus(loaded);

	    function login() {
	    	FB.login(callback, { perms: "publish_stream" });
	    }

	    function logout() {
	    	$.ajax({ type: "POST", url: "/logout" });
	    	FB.logout(function(){
				window.location = "/usr/";
	    	});
	    }

	    function disconnect() {
	    	FB.api({ method: 'Auth.revokeAuthorization' }, function(response) {
	        	
	        });
	    }

	    function loaded(response) {
	    	if(response.session){
		    	FB.api("/me", function(response) {
		    		$("#login_status").html("<span style='padding-right: 10px;'>Logged in as " + response.name + "</span><a href='#' onclick='logout();'>Log out</a>");
		    	});
	    	} else {
	    		$("#login_status").html("<a href='#' onclick='login()'>Log In</a>");
	    	}
	    }

	    function callback(response) {
	    	if(response.session){
		    	window.location = "/usr/";
	    	} 
	    }

	    function prompt_share(img_id, caption) {
	    	FB.ui(
		    	{
		    		method: 'feed',
		    		picture: "http://www.chillbrain.com/img?h=" + img_id,
		    		name: 'Another funny picture from Chillbrain',
		    		caption: caption,
		    		link: "http://www.chillbrain.com/#" + img_id + "&u={{uid}}",
		    	},
		    	function(response) {
		    		if (response && response.post_id) {
		    			data('share', { img1: img_id }, false);
		    		} 
		    	}
	    	);
	    }
    </script>
{% endblock %} 