{% extends "base_web.html" %}

{% block head %}
	{{ block.super }}
{% endblock %}

{% block body %}
	<!-- Twitter Share button if we want it 
	<a style="float:right;" href="http://twitter.com/share" class="twitter-share-button" data-url="http://chillbrain.com" data-count="none">
		Tweet
	</a>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	-->
	{% block content %}
	{% endblock %}
	<div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script type="text/javascript">
	 	// initialize the library with the API key'
	    FB.init(
	     	{ apiKey: '{{app_id}}', cookie : true }
	    );

	    function login() {
	    	FB.login(callback, { perms: "publish_stream" });
	    }

	    function logout() {
	    	$.ajax({ type: "POST", url: "/logout" });
	    	FB.logout(function(){
				window.location = "{{url.login}}";
	    	});
	    }

	    function disconnect() {
	    	FB.api({ method: 'Auth.revokeAuthorization' }, function(response) {
	        	
	        });
	    }

	    function callback(response) {
	    	if(response.session){
		    	window.location = "{{url.login}}";
	    	} 
	    }

	    function fb_share(share_id, img_id, caption) {
	    	FB.ui({
			    	method: 'feed',
			    	picture: "{{url.img}}h=" + img_id,
			    	name: 'Another funny picture from Chillbrain',
			    	caption: caption,
			    	link: "{{url.share}}r=" + share_id,
				}
			);
	    }
    </script>
{% endblock %} 