<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% block head %}	
		<link rel="shortcut icon" href="css/favicon.ico" >
	
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.json-2.2.min.js"></script>
		<script type="text/javascript" src="js/backbone-min.js"></script>
		<script type="text/javascript" src="js/chillbrain.core.js"></script>
		<script type="text/javascript" src="js/jquery.json-2.2.min.js"></script>
		
		<script type="text/javascript">
			$(function() {
				UIController.feed.refresh({{img}});
				UIController.setup();

				loaded = true;
			});

		</script>

		<script type="text/javascript">
		  
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-1860596-5']);
		  _gaq.push(['_trackPageview']);
		  
		  (function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>

	{% endblock %}
</head>
<body>
	{% block body %}
	{% endblock %}
</body>
</html>
