{% extends "base_web_facebook.html" %}

{% block title %}
	chillbrain
{% endblock %}
{% block head %}
	{{ block.super }}

	<LINK href="css/stylesheet.css" rel="stylesheet" type="text/css">
	
	<script type="text/javascript" src="js/infoBox.js"></script>
	<style>
		#debugControls {
			position:absolute;
			bottom:0;
			left:0;
		}
	</style>
	

{% endblock %}



{% block content %}

		<ul id="menu">
			{% if uid %}
			<li><span onclick="logout();">logout</span></li>
			{% else %}	
			<li><span onclick="login();">login</span></li>
			{% endif %}
			<li><span onclick="showMessage('laughter @ chillbrain.com')">contact</span></li>
			<li><span onclick="showMessage('Wait, what do you mean <i>about</i>. It\'s just funny images.')">about<span></li>
			
		</ul>

<div id="main">

	<div id="header">

	</div>
	<div id="titles">
		<div class="imgTitle" id="leftTitle"><span>Is there a problem?</span></div>
		<div class="imgTitle" id="rightTitle"><span>Sir you can't go out like that</span></div>
	</div>

	<div id="content">
		<div class="wrapper leftWrapper">
			<div class="controlBar leftControls"><span class="shareButton" id="leftShare">share<img src="static/share_icon.png"/></span></div>
		</div>
		
		<div class="wrapper rightWrapper">
			<div class="controlBar rightControls"><span><img src="static/share_icon.png"/><span class="shareButton" id="rightShare">share</span></span></div>
		</div>
		
		<div id="controls">
			<div class="voteButton" id="leftVoteButton"><img src="css/vote.png" /></div>
			<div class="voteButton" id="rightVoteButton"><img src="css/vote.png" /></div>
		</div>

	</div>
	
	<div id="commandCenter"><img src="/static/brain.png" /></div>
	<div id="commandCenterText"><span message='chillbrain'>chillbrain</span></div>
	<div id="zoomTitleBlock">
		<span>Title Goes Here</span><br/>
		<!--<input type="text" value="http://urlgoeshere.com/!@13245321545"/>-->
		<a href="#" target="_newtab" src="http://urlgoeshere.com/!@13245321545">http://urlgoeshere.com/!@13245321545</a>
	</div>
	
	<div id="zoomedImage">
		<img id="zoomed" src="static/no_image.jpg"/>
		<img id="closeButton" src="static/closeButton.png" />	
	</div>

</div>

<!--
<div id="debugControls">
	<input type="button" id="hideImages" value="hide images" onClick="hideImages()" />
	<input type="button" id="skipImages" value="skip images" onClick="skipImages()"/>
	<input type="button" id="showImages" value="show images" onClick="showImages()" />
	<input type="button" id="showWarning" value="show warning" onClick="showWarning('this is a warning such as permission denied')"/>
	<input type="button" id="showMessage" value="show message" onClick="showMessage('this is a system message such as tips or random facts')"/>
	<input type="button" id="achievmentUnlocked" value="achievment unlocked" onClick="achievmentUnlocked()"/>

</div>
-->
	
		
{% endblock %}
