<html>
<head>
<link rel="shortcut icon" href="css/favicon.ico" >

<LINK href="css/stylesheet2.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/infoBox.js"></script>
<script type="text/javascript" src="js/chillbrain.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1860596-4']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
	
	<div id="top">
		<div class="title leftTitle"><span></span></div>
		<div class="title rightTitle"><span></span></div>
	</div>
	
	<div id="main">

	</div>
	
	<input type="button" class="faceVote leftControl"/>
	<input type="button" class="faceVote rightControl"/>
	
	<div id="zoomInPicture">
		<input class="zoomedImgURLInput" value="http://www.chillbrain.com/#"/>
	</div>

</body>


</html>
