{% extends "base_web_facebook.html" %}

{% block head %}
	{{ block.super }}
	
	<script type="text/javascript">

	</script>
	
	<style type="text/css">
		.preloaded {
			display: none;
		}
	</style>
{% endblock %}

{% block content %}
	<div style="width:600px; margin:auto; padding:auto;">
		<div>
			<input type="button" onclick="vote();" value="Vote" />
			<input type="button" onclick="skip();" value="Skip" />
			<input type="button" onclick="prompt_share('{{img1.key}}', '{{img1.title|addslashes}}');" value="Share" />
			<input type="button" onclick="feed();" value="Next" />
		</div>
		<div>
			<div class="voteButton" id="leftVoteButton"><img class="clickable" src="css/vote.png" /></div>
			<div class="voteButton" id="rightVoteButton"><img src="css/vote.png" /></div>
		</div>
		<div id="content">
			<span id="leftTitle"></span>
			<span id="rightTitle"></span>
			<img id="{{img1.key}}" src="/img?h={{img1.key}}" />
			<img id="{{img2.key}}" src="/img?h={{img2.key}}" />
		</div>
		<br />
		<div id="pad"></div>
	</div>
{% endblock %} 