{% extends "base_web_facebook.html" %}
{% block head %}
	{{ block.super }}
{% endblock %}

{% block content %}
	<div style="width:600px; margin:auto; padding:auto;">
		<div>
			<img src="{{url.img}}h={{img1.key}}" />
		</div>
		<div>
			<img src="{{url.img}}h={{img2.key}}" />
		</div>
	</div>
	
	<script type="text/javascript">
		var imagesArray = [];
		{% for image in imgs %}
			imagesArray.push({ title : "{{image.title}}", link : "{{image.permalink}}" });
		{% endfor %}
	</script>
{% endblock %} 